.square {
  height: 200px;
  width: 200px;
  border: 2px solid;
  border-radius: 20px;
  text-align: center;
  font-size: large;
}

body {
  background-color: lightblue;
}

h1 {
  color: blue;
  text-shadow: 2px 2px 4px;
  text-align: center;
  margin-bottom: 0px;

  font-family: "Bubblegum Sans";
  font-size: 80px;
}

h2 {
  color: #4db3e4;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  font-family: "Bubblegum Sans";
  font-size: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(lightgreen, cyan);
}

h3 {
  text-align: center;
  font-family: "Bubblegum Sans";
  font-size: 22px;
}

.Reset {
  text-align: center;
  margin-top: 15px;
}

button {
  background-color: greenyellow;
  border-radius: 20px;
  font-family: "Bubblegum Sans";
  font-size: 22px;
}

.square {
  font-size: xx-large;
  background-image: linear-gradient(#ff6bb4, #ff027e);
}
